<!-- User settings for camera behaviour. 'Original' values match the behaviour in the original mod by JPFarias-->
<configuration>
  <screenedgescrollingenabled>true</screenedgescrollingenabled> 
  <!-- Default=true, Original=true -->
  <minheight>12</minheight>
  <!-- Values less than 12 may cause graphical issues. Default=12, Original=12 -->
  <maxheight>120</maxheight>
  <!-- Values greater than 120 may cause graphical issues. Default=120, Original=120 -->
  <zoomspeedmultiplier>1</zoomspeedmultiplier>
  <!-- Default=0.8, Original=1 -->
  <zoomzmotioneasingenabled>true</zoomzmotioneasingenabled>
  <!-- Camera moves forward more as height decreases. Default=true, Original=false -->
  <zoomspeedeasingenabled>true</zoomspeedeasingenabled>
  <!-- Camera zooms faster when it's higher. Default=true, Original=false -->
</configuration>